[texml]
texinputs=$TEXML_ROOT/lib/texmf/{tex,texmf-local,texmf-dist}//
pre_texinputs=$TEXML_ROOT/lib/texmf/tex/latex/texml

[TeX::Utils::SVG]
dvi_engine=pdflatex -output-format dvi
pdf_engine=xelatex
dvips=dvips
pdfcrop=pdfcrop
pdf2svg=pdf2svg
ps2pdf=ps2pdf
stix_dvi_pkg=stix
post_texinputs=$TEXML_ROOT/lib/texmf/tex/latex/texml

[TeX::KPSE]
program_name=pdflatex
kpsewhich=kpsewhich

