[DEFAULTS]
pre_texinputs=/ams/texmf/archive/texlive2016/texmf-local/tex/latex/ams-author-info
post_texinputs=$TEXML_ROOT/lib/texmf/tex/latex/texml

[TeX::Interpreter]
engine=pdflatex

[TeX::Utils::SVG]
dvi_engine=pdflatex -output-format dvi
pdf_engine=xelatex
dvips=dvips
pdfcrop=pdfcrop
pdf2svg=pdf2svg
ps2pdf=ps2pdf
stix_dvi_pkg=stix
