table#tblrid1 { border-collapse: collapse; }
table#tblrid1 * td:nth-child(1) { padding-left: 5.0pt; }
table#tblrid1 * td:nth-child(1) { text-align: center; }
table#tblrid1 * td:nth-child(1) { padding-right: 5.0pt; }
table#tblrid1 tr:nth-child(1) { border-top: thin solid black; }
table#tblrid1 tr:nth-child(1) { border-bottom: thin solid black; }
table#tblrid1 tr:nth-child(2) { border-bottom: thin solid black; }
table#tblrid2 { border-collapse: collapse; }
table#tblrid2 * td:nth-child(1) { padding-left: 5.0pt; }
table#tblrid2 * td:nth-child(1) { text-align: center; }
table#tblrid2 * td:nth-child(1) { padding-right: 5.0pt; }
table#tblrid2 tr:nth-child(1) { border-top: 0.80002pt solid black; }
table#tblrid2 tr:nth-child(1) { border-bottom: 0.50003pt solid black; }
table#tblrid2 tr:nth-child(2) { border-bottom: 0.80002pt solid black; }
table#tblrid3 { border-collapse: collapse; }
table#tblrid3 * td:nth-child(1) { padding-left: 5.0pt; }
table#tblrid3 * td:nth-child(1) { text-align: center; }
table#tblrid3 * td:nth-child(1) { padding-right: 5.0pt; }
table#tblrid3 tr:nth-child(1) { border-top: 1.5pt solid black; }
table#tblrid3 tr:nth-child(1) { border-bottom: 0.50003pt solid black; }
table#tblrid3 tr:nth-child(2) { border-bottom: 0.80002pt solid black; }
