table#tblrid1 { border-collapse: collapse; }
table#tblrid1 * td:nth-child(1) { padding-left: 5.0pt; }
table#tblrid1 * td:nth-child(1) { text-align: left; }
table#tblrid1 * td:nth-child(1) { padding-right: 5.0pt; }
table#tblrid1 * td:nth-child(2) { padding-left: 5.0pt; }
table#tblrid1 * td:nth-child(2) { text-align: left; }
table#tblrid1 * td:nth-child(2) { padding-right: 5.0pt; }
table#tblrid1 * td:nth-child(3) { padding-left: 5.0pt; }
table#tblrid1 * td:nth-child(3) { text-align: left; }
table#tblrid1 * td:nth-child(3) { padding-right: 5.0pt; }
table#tblrid1 tr:nth-child(1) { background-color: #bfbfbf; }
table#tblrid1 tr:nth-child(2) { background-color: #bfbfbf; }
table#tblrid1 td:nth-child(3) { background-color: #00ff00; }
table#tblrid1 tr:nth-child(3) { background-color: #000033; }
table#tblrid1 tr:nth-child(4) { background-color: #000033; }
table#tblrid1 tr:nth-child(5) { background-color: #000033; }
table#tblrid1 tr:nth-child(7) td:nth-child(2) { background-color: #ff0000; }
table#tblrid1 td:nth-child(3) { background-color: #00ff00; }
table#tblrid1 td:nth-child(3) { background-color: #00ff00; }
