table#tblrid1 { border-collapse: collapse; }
table#tblrid1 * td:nth-child(1) { border-left: thin solid black; }
table#tblrid1 * td:nth-child(1) { padding-left: 5.0pt; }
table#tblrid1 * td:nth-child(1) { text-align: center; }
table#tblrid1 * td:nth-child(1) { padding-right: 5.0pt; }
table#tblrid1 * td:nth-child(2) { padding-left: 5.0pt; }
table#tblrid1 * td:nth-child(2) { text-align: center; }
table#tblrid1 * td:nth-child(2) { padding-right: 5.0pt; }
table#tblrid2 { border-collapse: collapse; }
table#tblrid2 * td:nth-child(1) { border-left: double black; }
table#tblrid2 * td:nth-child(1) { padding-left: 5.0pt; }
table#tblrid2 * td:nth-child(1) { text-align: center; }
table#tblrid2 * td:nth-child(1) { padding-right: 5.0pt; }
table#tblrid2 * td:nth-child(1) { border-right: thin solid black; }
table#tblrid2 * td:nth-child(2) { padding-left: 5.0pt; }
table#tblrid2 * td:nth-child(2) { text-align: center; }
table#tblrid2 * td:nth-child(2) { padding-right: 5.0pt; }
table#tblrid2 * td:nth-child(2) { border-right: double black; }
table#tblrid3 { border-collapse: collapse; }
table#tblrid3 * td:nth-child(1) { padding-left: 5.0pt; }
table#tblrid3 * td:nth-child(1) { text-align: left; }
table#tblrid3 * td:nth-child(1) { padding-right: 5.0pt; }
table#tblrid4 { border-collapse: collapse; }
table#tblrid4 * td:nth-child(1) { padding-left: 5.0pt; }
table#tblrid4 * td:nth-child(1) { text-align: left; }
table#tblrid4 * td:nth-child(1) { padding-right: 5.0pt; }
table#tblrid5 { border-collapse: collapse; }
table#tblrid5 * td:nth-child(1) { padding-left: 5.0pt; }
table#tblrid5 * td:nth-child(1) { text-align: left; }
table#tblrid5 * td:nth-child(1) { padding-right: 5.0pt; }
table#tblrid5 * td:nth-child(2) { padding-left: 5.0pt; }
table#tblrid5 * td:nth-child(2) { text-align: left; }
table#tblrid5 * td:nth-child(2) { padding-right: 0.0pt; }
table#tblrid5 * td:nth-child(3) { padding-left: 10.0pt; }
table#tblrid5 * td:nth-child(3) { text-align: left; }
table#tblrid5 * td:nth-child(3) { padding-right: 5.0pt; }
table#tblrid5 * td:nth-child(4) { padding-left: 15.0pt; }
table#tblrid5 * td:nth-child(4) { text-align: left; }
table#tblrid5 * td:nth-child(4) { padding-right: 5.0pt; }
table#tblrid5 * td:nth-child(5) { padding-left: 15.0pt; }
table#tblrid5 * td:nth-child(5) { text-align: left; }
table#tblrid5 * td:nth-child(5) { padding-right: 5.0pt; }
table#tblrid5 * td:nth-child(6) { padding-left: 15.0pt; }
table#tblrid5 * td:nth-child(6) { text-align: left; }
table#tblrid5 * td:nth-child(6) { padding-right: 5.0pt; }
table#tblrid5 * td:nth-child(7) { padding-left: 15.0pt; }
table#tblrid5 * td:nth-child(7) { text-align: left; }
table#tblrid5 * td:nth-child(7) { padding-right: 5.0pt; }
table#tblrid5 * td:nth-child(8) { padding-left: 15.0pt; }
table#tblrid5 * td:nth-child(8) { text-align: left; }
table#tblrid5 * td:nth-child(8) { padding-right: 5.0pt; }
table#tblrid5 * td:nth-child(9) { padding-left: 15.0pt; }
table#tblrid5 * td:nth-child(9) { text-align: left; }
table#tblrid5 * td:nth-child(9) { padding-right: 5.0pt; }
table#tblrid5 * td:nth-child(10) { padding-left: 15.0pt; }
table#tblrid5 * td:nth-child(10) { text-align: left; }
table#tblrid5 * td:nth-child(10) { padding-right: 5.0pt; }
table#tblrid6 { border-collapse: collapse; }
table#tblrid6 * td:nth-child(1) { padding-left: 5.0pt; }
table#tblrid6 * td:nth-child(1) { text-align: left; }
table#tblrid6 * td:nth-child(1) { padding-right: 5.0pt; }
table#tblrid6 * td:nth-child(2) { padding-left: 5.0pt; }
table#tblrid6 * td:nth-child(2) { text-align: left; }
table#tblrid6 * td:nth-child(2) { padding-right: 20.0pt; }
table#tblrid6 * td:nth-child(3) { padding-left: 0.0pt; }
table#tblrid6 * td:nth-child(3) { text-align: left; }
table#tblrid6 * td:nth-child(3) { padding-right: 5.0pt; }
table#tblrid7 { border-collapse: collapse; }
table#tblrid7 * td:nth-child(1) { border-left: thin solid black; }
table#tblrid7 * td:nth-child(1) { padding-left: 5.0pt; }
table#tblrid7 * td:nth-child(1) { text-align: left; }
table#tblrid7 * td:nth-child(1) { padding-right: 5.0pt; }
table#tblrid7 * td:nth-child(1) { border-right: thin solid black; }
table#tblrid7 * td:nth-child(2) { padding-left: 5.0pt; }
table#tblrid7 * td:nth-child(2) { text-align: center; }
table#tblrid7 * td:nth-child(2) { padding-right: 5.0pt; }
table#tblrid7 * td:nth-child(2) { border-right: double black; }
table#tblrid7 * td:nth-child(3) { padding-left: 5.0pt; }
table#tblrid7 * td:nth-child(3) { text-align: right; }
table#tblrid7 * td:nth-child(3) { padding-right: 5.0pt; }
table#tblrid7 * td:nth-child(3) { border-right: thin solid black; }
table#tblrid7 * td:nth-child(4) { padding-left: 5.0pt; }
table#tblrid7 * td:nth-child(4) { vertical-align: top; }
table#tblrid7 * td:nth-child(4) { width: 72.26999pt; }
table#tblrid7 * td:nth-child(4) { padding-right: 0.0pt; }
table#tblrid7 * td:nth-child(4) { border-right: thin solid black; }
table#tblrid7 tr:nth-child(1) { border-top: thin solid black; }
table#tblrid7 tr:nth-child(1) td:nth-child(2) { border-bottom: thin solid black; }
table#tblrid7 tr:nth-child(1) td:nth-child(3) { border-bottom: thin solid black; }
table#tblrid7 tr:nth-child(2) td { padding-bottom: 0.0pt; }
table#tblrid7 tr:nth-child(2) td:nth-child(1) { border-bottom: thin solid black; }
table#tblrid7 tr:nth-child(2) td:nth-child(3) { border-bottom: thin solid black; }
table#tblrid7 tr:nth-child(3) { border-bottom: thin solid black; }
table#tblrid7 tr:nth-child(4) td:nth-child(2) { padding-left: 5.0pt; }
table#tblrid7 tr:nth-child(4) td:nth-child(2) { text-align: right; }
table#tblrid7 tr:nth-child(4) td:nth-child(2) { padding-right: 5.0pt; }
table#tblrid7 tr:nth-child(4) td:nth-child(2) { border-right: thin solid black; }
table#tblrid7 tr:nth-child(5) { border-bottom: thin solid black; }
table#tblrid8 { border-collapse: collapse; }
table#tblrid8 * td:nth-child(1) { border-left: thin solid black; }
table#tblrid8 * td:nth-child(1) { padding-left: 5.0pt; }
table#tblrid8 * td:nth-child(1) { text-align: left; }
table#tblrid8 * td:nth-child(1) { padding-right: 0.0pt; }
table#tblrid8 * td:nth-child(1) { border-right: thin solid black; }
table#tblrid8 * td:nth-child(2) { padding-left: 10.0pt; }
table#tblrid8 * td:nth-child(2) { text-align: center; }
table#tblrid8 * td:nth-child(2) { padding-right: 5.0pt; }
table#tblrid8 * td:nth-child(2) { border-right: double black; }
table#tblrid8 * td:nth-child(3) { padding-left: 15.0pt; }
table#tblrid8 * td:nth-child(3) { text-align: right; }
table#tblrid8 * td:nth-child(3) { padding-right: 5.0pt; }
table#tblrid8 * td:nth-child(3) { border-right: thin solid black; }
table#tblrid8 * td:nth-child(4) { padding-left: 15.0pt; }
table#tblrid8 * td:nth-child(4) { vertical-align: top; }
table#tblrid8 * td:nth-child(4) { width: 72.26999pt; }
table#tblrid8 * td:nth-child(4) { padding-right: 0.0pt; }
table#tblrid8 * td:nth-child(4) { border-right: thin solid black; }
table#tblrid8 tr:nth-child(1) { border-top: thin solid black; }
table#tblrid8 tr:nth-child(1) td:nth-child(2) { border-bottom: thin solid black; }
table#tblrid8 tr:nth-child(1) td:nth-child(3) { border-bottom: thin solid black; }
table#tblrid8 tr:nth-child(2) td { padding-bottom: 0.0pt; }
table#tblrid8 tr:nth-child(2) td:nth-child(1) { border-bottom: thin solid black; }
table#tblrid8 tr:nth-child(2) td:nth-child(3) { border-bottom: thin solid black; }
table#tblrid8 tr:nth-child(3) { border-bottom: thin solid black; }
table#tblrid8 tr:nth-child(4) td:nth-child(2) { padding-left: 15.0pt; }
table#tblrid8 tr:nth-child(4) td:nth-child(2) { text-align: right; }
table#tblrid8 tr:nth-child(4) td:nth-child(2) { padding-right: 5.0pt; }
table#tblrid8 tr:nth-child(4) td:nth-child(2) { border-right: thin solid black; }
table#tblrid8 tr:nth-child(5) { border-bottom: thin solid black; }
table#tblrid9 { border-collapse: collapse; }
table#tblrid9 * td:nth-child(1) { padding-left: 5.0pt; }
table#tblrid9 * td:nth-child(1) { text-align: left; }
table#tblrid9 * td:nth-child(1) { padding-right: 0.0pt; }
table#tblrid9 * td:nth-child(2) { padding-left: 10.0pt; }
table#tblrid9 * td:nth-child(2) { text-align: center; }
table#tblrid9 * td:nth-child(2) { padding-right: 5.0pt; }
table#tblrid9 * td:nth-child(3) { padding-left: 15.0pt; }
table#tblrid9 * td:nth-child(3) { text-align: right; }
table#tblrid9 * td:nth-child(3) { padding-right: 5.0pt; }
table#tblrid9 * td:nth-child(4) { padding-left: 15.0pt; }
table#tblrid9 * td:nth-child(4) { vertical-align: top; }
table#tblrid9 * td:nth-child(4) { width: 72.26999pt; }
table#tblrid9 * td:nth-child(4) { padding-right: 5.0pt; }
table#tblrid9 tr:nth-child(1) { border-top: thin solid black; }
table#tblrid9 tr:nth-child(2) td { padding-bottom: 0.0pt; }
table#tblrid9 tr:nth-child(4) td:nth-child(2) { padding-left: 15.0pt; }
table#tblrid9 tr:nth-child(4) td:nth-child(2) { text-align: right; }
table#tblrid9 tr:nth-child(4) td:nth-child(2) { padding-right: 5.0pt; }
table#tblrid9 tr:nth-child(4) td:nth-child(2) { border-right: none; }
