table#tblrid1 { border-collapse: collapse; }
table#tblrid1 * td:nth-child(1) { padding-left: 5.0pt; }
table#tblrid1 * td:nth-child(1) { text-align: left; }
table#tblrid1 * td:nth-child(1) { padding-right: 5.0pt; }
table#tblrid1 tr:nth-child(1) { background-color: #bfbfbf; }
table#tblrid1 tr:nth-child(2) { background-color: #000033; }
