<?xml version="1.0"?>
<SlideShow>
  <!--
    Configuration file template for SlideShow.swf

    SlideShow.swf can display life and static PNG/JPEG/GIF image
    files from remote servers or residing on the same server as the
    app itself.

    Pass this file to SlideShow.swf using the `xml=<configuration
    file>' FlashVar.

    **NOTE**: For security reasons of Flash Player, the configuration
    file and SlideShow.swf must reside on the same web server or
    be both embedded into the PDF. Different web servers or the
    combination of web server location and embedding into the PDF
    throws a security error.

    An image definition starts with <Img [attributes]> and ends
    with </Img>. All attributes in the opening <Img [attributes]>
    tag are optional:

      live="<refresh interval in [s]>"  for live remote image
      rot90="<integer number>"          initial rotation by number*90°

    Inside an image definition, at least one <URL [attributes]>...</URL>
    element is required. The attributes are optional. More than one URL may
    be given to provide image files at various resolutions. The best one
    fitting within the current display size will be chosen dynamically.
    In the case of multiple URLs, the actual resolution of each image should
    be told using the

      size="<width>x<height>"

    attribute, which specifies the image file dimensions in pixels.

    Some servers generate bitmap graphics at arbitrary resolution upon
    request. In such cases, one or both of the attributes

      width="<width pattern>"   height="<height pattern>"

    may be given in the opening URL tag. <width pattern> and <height
    pattern>, if present in the URL string, will be substituted with
    the current display dimensions.

    An image URL, given between <URL> and </URL>, can be absolute, that is,
    starting with 'http://...', or relative to the location of SlideShow.swf.

    The <caption>...</caption> element inside the image definition is optional.
  -->
  <Img live="3">  <!-- Live image, refreshed every 3 seconds -->
    <caption>Mow-the-lawn simulation (live remote image).</caption>
    <URL>http://dev.eightbeers.org/tex/corner-icon.png</URL>
  </Img>
  <Img>  <!-- remote image with dynamic size URL -->
    <caption>"An algorithm must be seen to be believed." (Donald E. Knuth)
Remote image URL with dynamic size that is reloaded while resizing the display.</caption>
    <URL width="@@@@@">https://openclipart.org/image/@@@@@px/svg_to_png/137407/1304882618.png</URL>
  </Img>
  <Img>  <!-- remote image with multiple URLs of different resolution -->
    <caption>CTAN lion drawing by Duane Bibby. Thanks to www.ctan.org.
Remote image with URLs at various resolutions ("responsive image").</caption>
    <URL size="200x178"  >
      http://mirrors.ibiblio.org/CTAN/macros/latex/contrib/media9/doc/files/ctan_lion_200.png</URL>
    <URL size="400x355"  >
      http://mirrors.ibiblio.org/CTAN/macros/latex/contrib/media9/doc/files/ctan_lion_400.png</URL>
    <URL size="800x710"  >
      http://mirrors.ibiblio.org/CTAN/macros/latex/contrib/media9/doc/files/ctan_lion_800.png</URL>
    <URL size="1200x1065">
      http://mirrors.ibiblio.org/CTAN/macros/latex/contrib/media9/doc/files/ctan_lion_1200.png</URL>
  </Img>
  <Img rot90="3">  <!-- static image with URL relative to SlideShow.swf location -->
    <caption>Static embedded image file with initial rotation of 3x90°.
Press "r" or "R" to change orientation.</caption>
    <URL>files/cubeposter.png</URL>
  </Img>
</SlideShow>
